/CJRWave/BufferUtilities.Tests/bin/
/CJRWave/BufferUtilities.Tests/obj/
/CJRWave/WaveTest/obj/Debug/net10.0
/CJRWave/Sound.Core/obj/Debug/net8.0
/CJRWave/Sound.Core/obj/Debug/net6.0
/CJRWave/Sound.Core/obj/Debug/net6.0
/CJRWave/Sound.Core/obj
