/CJRWave/BufferUtilities.Tests/bin/
/CJRWave/BufferUtilities.Tests/obj/
/CJRWave/WaveTest/obj/Debug/net10.0
/CJRWave/Sound.Core/obj/Debug/net8.0
/CJRWave/Sound.Core/obj/Debug/net6.0
/CJRWave/Sound.Core/obj/Debug/net6.0
/CJRWave/Sound.Core/obj
/CJRWave.Test/bin/Debug/net6.0
/CJRWave/.vs/CJRWave/CopilotIndices/18.6.39510.42782
*.v2
/CJRWave/.vs
/CJRWave/CJRWave/obj
/CJRWave/Sound.Core.Tests/obj
/CJRWave/Sound.Core/obj
/CJRWave/Sound.Core.Tests/bin
/CJRWave/WaveTest/obj
/CJRWave/WaveTest/obj
CJRWave.Test/bin/Debug/net6.0/CoverletSourceRootsMapping
CJRWave.Test/bin/Debug/net8.0/CoverletSourceRootsMapping
CJRWave.Test/bin/Debug/net8.0/nunit_random_seed.tmp
CJRWave.Test/obj/CJRWave.Test.csproj.nuget.dgspec.json
CJRWave.Test/obj/CJRWave.Test.csproj.nuget.g.props
CJRWave.Test/obj/CJRWave.Test.csproj.nuget.g.targets
CJRWave.Test/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
CJRWave.Test/obj/Debug/net6.0/CJRWave.Test.AssemblyInfo.cs
CJRWave.Test/obj/Debug/net6.0/CJRWave.Test.AssemblyInfoInputs.cache
CJRWave.Test/obj/Debug/net6.0/CJRWave.Test.assets.cache
CJRWave.Test/obj/Debug/net6.0/CJRWave.Test.csproj.AssemblyReference.cache
CJRWave.Test/obj/Debug/net6.0/CJRWave.Test.GeneratedMSBuildEditorConfig.editorconfig
CJRWave.Test/obj/Debug/net6.0/CJRWave.Test.GlobalUsings.g.cs
CJRWave.Test/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
CJRWave.Test/obj/Debug/net8.0/CJRWave.Test.AssemblyInfo.cs
CJRWave.Test/obj/Debug/net8.0/CJRWave.Test.AssemblyInfoInputs.cache
CJRWave.Test/obj/Debug/net8.0/CJRWave.Test.assets.cache
CJRWave.Test/obj/Debug/net8.0/CJRWave.Test.csproj.AssemblyReference.cache
CJRWave.Test/obj/Debug/net8.0/CJRWave.Test.csproj.BuildWithSkipAnalyzers
CJRWave.Test/obj/Debug/net8.0/CJRWave.Test.csproj.FileListAbsolute.txt
CJRWave.Test/obj/Debug/net8.0/CJRWave.Test.GeneratedMSBuildEditorConfig.editorconfig
CJRWave.Test/obj/Debug/net8.0/CJRWave.Test.GlobalUsings.g.cs
CJRWave.Test/obj/project.assets.json
CJRWave.Test/obj/project.nuget.cache
CJRWave/.vs/CJRWave/DesignTimeBuild/.dtbcache.v2
CJRWave/CJRWave/obj/CJRWave.csproj.nuget.dgspec.json
CJRWave/CJRWave/obj/CJRWave.csproj.nuget.g.props
CJRWave/CJRWave/obj/Debug/net6.0/CJRWave.AssemblyInfo.cs
CJRWave/CJRWave/obj/Debug/net6.0/CJRWave.AssemblyInfoInputs.cache
CJRWave/CJRWave/obj/Debug/net6.0/CJRWave.assets.cache
CJRWave/CJRWave/obj/Debug/net6.0/CJRWave.csproj.AssemblyReference.cache
CJRWave/CJRWave/obj/Debug/net6.0/CJRWave.csproj.CoreCompileInputs.cache
CJRWave/CJRWave/obj/Debug/net6.0/CJRWave.csproj.FileListAbsolute.txt
CJRWave/CJRWave/obj/Debug/net6.0/CJRWave.GeneratedMSBuildEditorConfig.editorconfig
CJRWave/CJRWave/obj/Debug/net6.0/CJRWave.GlobalUsings.g.cs
CJRWave/CJRWave/obj/project.assets.json
CJRWave/CJRWave/obj/project.nuget.cache
CJRWave/Sound.Core/obj/Debug/net6.0/refint/Sound.Core.dll
CJRWave/Sound.Core/obj/Debug/net6.0/Sound.Core.AssemblyInfo.cs
CJRWave/Sound.Core/obj/Debug/net6.0/Sound.Core.AssemblyInfoInputs.cache
CJRWave/Sound.Core/obj/Debug/net6.0/Sound.Core.assets.cache
CJRWave/Sound.Core/obj/Debug/net6.0/Sound.Core.csproj.AssemblyReference.cache
CJRWave/Sound.Core/obj/Debug/net6.0/Sound.Core.csproj.CoreCompileInputs.cache
CJRWave/Sound.Core/obj/Debug/net6.0/Sound.Core.dll
CJRWave/Sound.Core/obj/Debug/net6.0/Sound.Core.GeneratedMSBuildEditorConfig.editorconfig
CJRWave/Sound.Core/obj/Debug/net6.0/Sound.Core.GlobalUsings.g.cs
CJRWave/Sound.Core/obj/Debug/net6.0/Sound.Core.pdb
CJRWave/Sound.Core/obj/project.assets.json
CJRWave/Sound.Core/obj/project.nuget.cache
CJRWave/Sound.Core/obj/Sound.Core.csproj.nuget.dgspec.json
CJRWave/Sound.Core/obj/Sound.Core.csproj.nuget.g.props
CJRWave/WaveTest/obj/Debug/net6.0/WaveTest.AssemblyInfo.cs
CJRWave/WaveTest/obj/Debug/net6.0/WaveTest.AssemblyInfoInputs.cache
CJRWave/WaveTest/obj/Debug/net6.0/WaveTest.assets.cache
CJRWave/WaveTest/obj/Debug/net6.0/WaveTest.csproj.AssemblyReference.cache
CJRWave/WaveTest/obj/Debug/net6.0/WaveTest.GeneratedMSBuildEditorConfig.editorconfig
CJRWave/WaveTest/obj/Debug/net6.0/WaveTest.GlobalUsings.g.cs
CJRWave/WaveTest/obj/project.assets.json
CJRWave/WaveTest/obj/project.nuget.cache
CJRWave/WaveTest/obj/WaveTest.csproj.nuget.dgspec.json
CJRWave/WaveTest/obj/WaveTest.csproj.nuget.g.props
CJRWave.Test/bin/Debug/net6.0/CoverletSourceRootsMapping
CJRWave/.vs/CJRWave/DesignTimeBuild/.dtbcache.v2
CJRWave/CJRWave/obj/CJRWave.csproj.nuget.dgspec.json
CJRWave/CJRWave/obj/CJRWave.csproj.nuget.g.props
CJRWave/CJRWave/obj/Debug/net6.0/CJRWave.AssemblyInfo.cs
CJRWave/CJRWave/obj/Debug/net6.0/CJRWave.AssemblyInfoInputs.cache
CJRWave/CJRWave/obj/Debug/net6.0/CJRWave.assets.cache
CJRWave/CJRWave/obj/Debug/net6.0/CJRWave.csproj.AssemblyReference.cache
CJRWave/CJRWave/obj/Debug/net6.0/CJRWave.csproj.CoreCompileInputs.cache
CJRWave/CJRWave/obj/Debug/net6.0/CJRWave.csproj.FileListAbsolute.txt
CJRWave/CJRWave/obj/Debug/net6.0/CJRWave.GeneratedMSBuildEditorConfig.editorconfig
CJRWave/CJRWave/obj/Debug/net6.0/CJRWave.GlobalUsings.g.cs
CJRWave/CJRWave/obj/project.assets.json
CJRWave/CJRWave/obj/project.nuget.cache
CJRWave/Sound.Core/obj/Debug/net6.0/refint/Sound.Core.dll
CJRWave/Sound.Core/obj/Debug/net6.0/Sound.Core.AssemblyInfo.cs
CJRWave/Sound.Core/obj/Debug/net6.0/Sound.Core.AssemblyInfoInputs.cache
CJRWave/Sound.Core/obj/Debug/net6.0/Sound.Core.assets.cache
CJRWave/Sound.Core/obj/Debug/net6.0/Sound.Core.csproj.AssemblyReference.cache
CJRWave/Sound.Core/obj/Debug/net6.0/Sound.Core.csproj.CoreCompileInputs.cache
CJRWave/Sound.Core/obj/Debug/net6.0/Sound.Core.dll
CJRWave/Sound.Core/obj/Debug/net6.0/Sound.Core.GeneratedMSBuildEditorConfig.editorconfig
CJRWave/Sound.Core/obj/Debug/net6.0/Sound.Core.GlobalUsings.g.cs
CJRWave/Sound.Core/obj/Debug/net6.0/Sound.Core.pdb
CJRWave/Sound.Core/obj/project.assets.json
CJRWave/Sound.Core/obj/project.nuget.cache
CJRWave/Sound.Core/obj/Sound.Core.csproj.nuget.dgspec.json
CJRWave/Sound.Core/obj/Sound.Core.csproj.nuget.g.props
CJRWave/WaveTest/obj/Debug/net6.0/WaveTest.AssemblyInfo.cs
CJRWave/WaveTest/obj/Debug/net6.0/WaveTest.AssemblyInfoInputs.cache
CJRWave/WaveTest/obj/Debug/net6.0/WaveTest.assets.cache
CJRWave/WaveTest/obj/Debug/net6.0/WaveTest.csproj.AssemblyReference.cache
CJRWave/WaveTest/obj/Debug/net6.0/WaveTest.GeneratedMSBuildEditorConfig.editorconfig
CJRWave/WaveTest/obj/Debug/net6.0/WaveTest.GlobalUsings.g.cs
CJRWave/WaveTest/obj/project.assets.json
CJRWave/WaveTest/obj/project.nuget.cache
CJRWave/WaveTest/obj/WaveTest.csproj.nuget.dgspec.json
CJRWave/WaveTest/obj/WaveTest.csproj.nuget.g.props
